In [1]:
# Q:1 
#l1=[10,20,300]
#l2=[40,50,60]
#{10:40,  20:50,  300:60}
# note using zip and without zip

In [23]:
l1 = [10,20,300]
l2 = [40,50,60]
dict = {}
for i in range(0,len(l1)):
    dict[l1[i]] = l2[i]
           
print (dict)

{10: 40, 20: 50, 300: 60}

In [25]:
#Q2 {name: marks .. . . . .  ======>} multiple elements
#now take a input from the user for score variable
#--> print the key who have more value then the score variable

In [80]:
dict = {"yash":300 , "raj":40,"popaye":60}
score = int(input("enter the score:"))
for i in dict.items():
    key=i[0]
    value=i[1]
    if score < value:
        print(key,value)

enter the score: 45

yash 300
popaye 60

In [82]:
#Q3 {10:19,  11:20,  13:NONE}
#delete the key-value pair where the value is none

In [118]:
dict = {10:19,  11:20,  13:None, 14:56}
dt = {}
for i in dict:
    if dict[i] is not None:
        dt[i] = dict[i]

print(dt)

{10: 19, 11: 20, 14: 56}

In [120]:
# Q4:   {"x":5, "y":7, "z":10}
# print new dictionary as square of each key {x:25, y:49,  z:100}

In [130]:
dict = {"x":5, "y":7, "z":10}
dt = {}
for i in dict:
    dt[i] = dict[i]**2
print(dt)

{'x': 25, 'y': 49, 'z': 100}

In [132]:
#Q5
#create a dictionary as cube of number from 1 to 5
#{1:1, 2:8, 3:27, 4:64, 5:125}
#Note use only thing we have learnt

In [136]:
dict = {1:1, 2:2, 3:3, 4:4, 5:5}   #1 method
dt = {}
for i in dict:
    dt[i] = dict[i]**3
print(dt)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [140]:
dt = {}              #2 method
for i in range(1,6):
    dt[i] = i**3
print(dt)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125}

In [142]:
# Q6 {"x":5, "y":7, "z":10}
# get the ans in new dictionary {"average":7.3 ,   "max":10}

In [144]:
d = {"x":5,"y":7,"z":10}
dt = {}
d=d.values()
d=list(d)
s = 0
c = 0
max_values = d[0]
t = 0
for i in range (0,len(d)):
    if (d[i] > max_values):
        max_values = d[i]
        dt.update({"max":max_values})
print(dt)
for i in range (len(d)):
    s+=d[i]
    c+=1
    avg=s/c
print(avg)

{'max': 10}
7.333333333333333